.card-style {
  background-color: rgba(240, 248, 255, 0);
  color: aliceblue;
  border-color:rgba(71, 69, 69, 0.785) ;
}
.overall-header{
  text-align: center;
  margin-bottom: 30px;
}
.overall-section{
}

.overall-h3{
  border: 5px;
  font-size: 2em;
  padding: 10px;
  width: auto;
  height:auto;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;

}

.overall-ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  line-height: 3px;
  
}

